# GitHub access for config-repo
GIT_USERNAME=your_github_username
GIT_PASSWORD=your_github_personal_access_token

# Config Server Basic Auth
CONFIG_SERVER_USERNAME=admin
CONFIG_SERVER_PASSWORD=your_strong_password
